/*

- desktop = 992px to infinity
	- header: black background
		- .header-text on the left
			- p: text jusity
		- .header-img: on the right (TODO: image first in html with float right)

- tablet = 576px to 991px
	- same as mobile

- mobile = 0px to 991px
	- header: #fcfcfc background
		- .header-text on the bottom
			- p: text initial
		- .header-img: on the top

*/
html, body {
  	font-family: 'Lato', sans-serif;
  	background-color: #fcfcfc;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	top: 0;
	font-size: 18px;
	scroll-behavior: smooth;
}
a, a:hover {
	text-decoration: none;
	color: #000000;
}
h2 {
	font-size: 2.5rem;
}
p {
	font-size: 17px;
	font-weight: 200;
	letter-spacing: 0.05em;
}
img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.container-fluid {
	padding: 50px;
}

/* nav */
nav {
	margin: 10px 50px;
}
nav a {
	padding: 20px;
	font-weight: 200;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.navbar-light .navbar-toggler {
	border-color: rgba(0,0,0,0);
}

/* header section */
.header {
	margin: 0;
	overflow: hidden;
	border-radius: 4px;
	background-color: black;
	color: #f5f5f5;
}
.header-text, .header-img {
	padding-left: 0;
	padding-right: 0;
}
.header-text {
	order: 1;
}
.header-img {
	order: 2;
}
.header-text p {
	text-align: justify;
	text-justify: inter-word;
}
.header-text h6 {
	font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    margin-left: 70px;
}
.header-text h2, .header-text p {
	margin-left: 70px;
	padding: 75px 75px 0 0; 
}


/* bottom section */
.gallery .col-lg-8 .row {
	padding-top: 15px;
}

.main-img {
	height: 1000px;
	margin: 15px 0;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
                0 2px 2px rgba(0,0,0,0.08), 
                0 4px 4px rgba(0,0,0,0.08), 
                0 8px 8px rgba(0,0,0,0.08),
                0 16px 16px rgba(0,0,0,0.08);
}
.gallery-title {
	margin: 35px
}
.gallery-description {
	padding: 0 100px 0 35px;
}


/*mobile and tablet*/
@media (max-width: 1199px) {
	nav {
		margin: 0;
	}
	h1 {
		font-size: 25px;
	}
	.container-fluid {
		padding: 10px;
	}

	.header {
		background-color: #fcfcfc;
	}
	.header-img {
		order: 1;
	}
	.header-text {
		order: 2;
		color: #1a1a1a;
	}
	.header-img img {
		padding-bottom: 20px;
	}
	.header-text h2 {
		margin-left: 0;
		padding: 40px 0;
		text-align: center;
	}
	.header-text h6 {
		font-size: 13px;
		margin-left: 0;
	}
	.header-text p {
		margin-left: 0;
		padding: 0;
		text-align: initial;
	}

	.gallery-title, .gallery-description {
		padding: 15px;
	}
	.main-img {
		height: auto;
	}
}

/*Zoom on Hover*/
.zoom-img {
	width: 100%;
	height: 400px;
	vertical-align: super;
	transition: box-shadow 0.4s ease-in-out, transform 0.2s ease;
	box-shadow: 0 1px 1px rgb(0 0 0 / 8%), 0 2px 2px rgb(0 0 0 / 8%), 0 4px 4px rgb(0 0 0 / 8%), 0 8px 8px rgb(0 0 0 / 8%), 0 16px 16px rgb(0 0 0 / 8%);
}
.zoom-img:hover {
    transform: scale(1.01);
    box-shadow: 0 1px 1px rgb(0 0 0 / 9%), 0 2px 2px rgb(0 0 0 / 9%), 0 4px 4px rgb(0 0 0 / 9%), 0 8px 8px rgb(0 0 0 / 9%), 0 16px 16px rgb(0 0 0 / 9%);
}

/*CTA Button*/
.cta {
    position: relative;
    margin: 35px;
    padding: 14px 22px;
    transition: all 0.2s ease;
}
.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: #c2e2df;
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
}
.cta span {
    position: relative;
    font-size: 14px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
}
.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
.cta:hover:before {
    width: 55%;
    background: #c2e2df;
}
.cta:hover svg {
    transform: translateX(0);
}
.cta:active {
    transform: scale(0.96);
}

footer img {
	width: 25px;
	margin: 15px;
	opacity: 0.8;
}
footer img:hover {
	opacity: 1;
}
footer {
	font-size: 14px;
}